.category__filter {
  position: relative;
  display: flex;
  gap: 8px;
  background-color: #15131f; /* цвет подложки панели */
  padding: 4px;
  border-radius: 12px;
  width: max-content;
  margin: 0 auto;
  margin-top: 15px;


  &-indicator {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 0;
    width: 0;
    background-color: #8b5cf6;; /* цвет активной плашки */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* Плавный переход позиции и ширины */
    transition: left 0.3s ease, width 0.3s ease; 
    z-index: 1;
  }

  &-btn {
    position: relative;
    z-index: 2; /* чтобы текст был поверх индикатора */
    background: transparent;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #8a8894;
    cursor: pointer;
    border-radius: 8px;
    transition: color 0.2s ease;
    white-space: nowrap;

    &:hover {
      color: #ffffff;
    }

    &.is-active {
      color: #111827;
      font-weight: 600;
    }
  }
}